@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    height: 100%;
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
}

h1 {
    font-size: 25pt;
}

h2 {
    align-items: center;
    color:white;
    font-size: 23pt;
}

a:visited {
  color: black;
}

.french {
    color: white;
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
}

.polish {
    color: black;
    text-align: right;
    margin-right: 5%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
}