{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warszawa Projects</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1 class="french">Projets Photos sur Varsovie (Pologne) par Victor Fontaine</h1>
    <h1 class="polish">Photo Project about Warsaw (Poland) by Victor Fontaine</h1>
    <!--- TODO write it in polish -->
    <h2><a target="_blank" href="/warszawa1/"><br>Warszawa Janvier 2022</a></h2>

</div>
</body>
</html>